/*HEAD*/
/*mi color en el NAVBAR*/
.bg-durazno {
    background-color: #f8e4b0;
}

/*mi logo en el NAVBAR*/
.redondo {
    border-radius: 150px;
}

.navbar-nav {
    --bs-navbar-color: #ff914d;
    --bs-navbar-hover-color: #ff914d;
    --bs-navbar-disabled-color: #ff914d;
    --bs-navbar-active-color: #ff914d;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: #ff914d;
    --bs-navbar-brand-hover-color: #ff914d;
    --bs-navbar-toggler-border-color: #ff914d;
}

/*titulo debajo del NAVBAR */
.horarioCopal {
    font-family: "Dosis", sans-serif;
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 30px;
    background-color: #ff914d;
    border-radius: 10px;
}

.navbar {
    font-family: "Dosis", sans-serif;
    font-size: x-large;
}

/*MAIN*/
/*adentro de mis cards*/
.misCards {
    padding: 20px;
    margin: 60px;
}

.card-text {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    color: #ff914d;
    margin-top: 20px;
    text-align: center;
}

.card-body {
    background-color: #f8e4b0;
    color: #ff914d;
}

.btn {
    font-family: "Dosis";
    border: none;
    font-size: 20px;
    color: white;
    padding: 30px;
    background-color: #ff914d;
    margin: 30px;
    
}

/*FOOTER*/
.colorWsp,
.card-title {
    font-family: "Dosis";
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 100;
    background-color: #ff914d;
    border-radius: 100px;
}

.iconWsp {
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

/*FIRMA*/
.colorTexto {
    font-family: "Dosis", sans-serif;
    font-size: larger;
    color: #ff914d;
    margin-bottom: 20px;
    justify-content: center;
}

/*MEDIOS DE PAGO EN INDEX Y CARRITO*/
.mediosPago {
    font-family: "Dosis", sans-serif;
    text-align: center;
    color: #ff914d;
}

.suCompra {
    font-family: "Dosis", sans-serif;
    text-align: center;
    font-size: 35px;
    color: white;
    background-color: #e76515;
    margin: 80px;
    padding: 30px;
}

/*SNACKBAR DE PEDIDO EN EL CARRITO*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ff914d;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
/* SNACKBAR CUANDO SE CLICKEA*/
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/*SNACKBAR ANIMACION */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/*ESTILOS A PAGINA ADMINISTRADOR*/
.modifMenu {
    font-family: "Dosis";
    font-size: 23px;
    color: #ff914d;
    padding: 50px;
    text-align: center;
}

.casilleros {
    font-family: "Dosis";
    color: #ff914d;
    border-radius: 10px;
    border-color: #ff914d;
    background-color:  #f8e4b0;
    
}
.tituloAdmin{
    font-size: 25px;
    background-color:#e76515;
    border-radius: 10px;
    color:white;
    text-align: center;
    padding: 25px;
    margin: 10px;
    font-weight: 100;
}
.botonGuardarCambios{
    font-family: "Dosis";
    font-size: 25px;
    background-color: #e76515;    
    color: white;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 660px; 
}
